@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/Myriad-Pro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica';
    src: url("./fonts/helvetica.ttf");
    font-weight: normal;
    font-style: normal;
  }
  .GiftDailyWrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
  }
  .GiftDailyCss{
    font-family: 'Helvetica'; 
    color: white;
    background-color: #424D55;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
  }
  .CloseButtonGiftWrap{
    height: 40px;
    width: 40px;
    cursor: pointer;
    float: right;
  }
  .CloseButtonGiftWrap:hover{
    opacity: 1;
  }
  .CloseButtonGift{
    opacity: 0.3;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 15px;
  }
  .CloseButtonGift:hover {
    opacity: 1;
  }
  .CloseButtonGift:before, .CloseButtonGift:after {
    position: absolute;
    content: ' ';
    height: 25px;
    width: 4px;
    background-color: white;
  }
  .CloseButtonGift:before {
    transform: rotate(45deg);
  }
  .CloseButtonGift:after {
    transform: rotate(-45deg);
  }
  .HeaderGift{
    color: #CCCCCC;
    display: block;
    font-size: 32pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
  }

  .wrap_gift_image{
    display: block;
    width: auto;
  }
  .DailyGiftImage{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wrap_detail{
    color: #CCCCCC;
    display: block;
    font-size: 28pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
  }

  .wrap_button_claim{
    display: block;
    margin-top: 20px;
  }

  .button_claim{
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-image: linear-gradient(to right, #4272E8 , #00B8E9);
    text-align: center;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    letter-spacing: 1px;

    height: 70px;
    width: 200px;
  }

  .button_claim:hover{
    color: white;
    text-shadow: 0 0 10px white;
  }