@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/Myriad-Pro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Helvetica';
    src: url("./fonts/helvetica.ttf");
    font-weight: normal;
    font-style: normal;
  }
.ReferralWrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
}
.ReferralCss{
    font-family: 'Helvetica'; 
    color: white;
    background-color: #424D55;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
}

.CloseButtonReferral {
    opacity: 0.3;
    margin-right: 15px;
    margin-top: 5px;
    margin-right: 14px;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 10px;
  }
  .CloseButtonReferral:hover {
    opacity: 1;
  }
  .CloseButtonReferral:before, .CloseButtonReferral:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 4px;
    background-color: white;
  }
  .CloseButtonReferral:before {
    transform: rotate(45deg);
  }
  .CloseButtonReferral:after {
    transform: rotate(-45deg);
  }

.HeaderReferral{
    color: #CCCCCC;
    display: block;
    font-size: 32pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.WrapLinkRefferal{
    /* padding-top: 20px; */
    margin-left: 80px;
    display: block;
}

.InputRefferal{
    width: 400px;
    height: 55px;
    color: #FFFFFF;
    background-color: #283846;
    border-radius: 10px;
    font-size: 17pt;
    margin-right: 20px;
    text-align: center;
}
.CopyButton{
    width: 130px;
    height: 55px;
    color: #FFFFFF;
    background-color: #409EFF ;
    border-color: #409EFF;
    border-radius: 10px;
    font-size: 24pt;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.CopyButton:hover{
    background-color: #79c4fc;
}

.DetailReferral{
    display: block;
    color: #FFFFFF;
    font-size: 14pt;
    margin-top: 20px;
    text-align: left;
    padding-left: 30px;
}
.SloganReferral{
    margin-top: 20px;
    display: block;
    color: #CCCCCC;
    font-size: 30pt;
    text-align: center;
}

.WrapTotalReferral{
    display: block;
    font-size: 18pt;
    margin-top: 22px;
    
}
.TextTotal{
    float: left;
    display: inline;
    margin-left: 50px;
}
.ValueTotal{
    color: orange;
    display: inline;
}

.TextTotalEarn{
    float: right;
    display: inline;
}
.ValueTotalEarn{
    color: orange;
    display: inline;
    margin-right: 50px;
}

.WrapTableReferral{
    margin-top: 60px;
    display: block;
    background-color: #1C2041 ;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 26pt;
    width: 645px;
    height: 135px;
    margin-left: 26px;
    padding: 8px 8px 8px 8px;

}
.TableReferral{
    border-collapse: collapse;
    width: 100%;
    font-size: 18pt;
    max-height: 140px;
}
.TableReferral tbody{
    background-color: #171933;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.TableReferral td{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
}