@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/Myriad-Pro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

.menuPlay{
    font-family: 'MyriadPro'; 
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}

.WrapIconBet{
    display: flex;  

}
.WrapIconBet div{
    float: left;    
    cursor: pointer;
}

.iconBet{
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
.iconBet:hover{
    padding-top: 10px;
    padding-bottom: 10px;
}
.iconBet.active{
    padding-top: 0px;
    padding-bottom: 0px;
}
.BetAmount_Wrap{
    display: block;
    margin-left: 75px;
}

.Dropdown_Wrap{
    height: 120px;
    overflow-y: scroll;
    float: left;
    width: 200px;
    /* overflow: hidden; */
    display: inline-block;
}

.menu_playmenu.icon_playmenu {
    color: #000;
    position: absolute;
    margin-left: 2px;
    margin-top: 30px;
    width: 40px;
    height: 3px;
    background-color: white;
    display: inline-block;
    

  }
  
  .menu_playmenu.icon_playmenu:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: white;
  }
  
  .menu_playmenu.icon_playmenu:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: white;
  }

.BetAmountShow{
    display: inline-block;
    float: left;
    width: 150px;
    height: 40px;
    background-color: #1C2041;
    border-radius: 10px;
    margin-top: 10px;

}
.BetAmountHidden{
    display: none;
    float: left;
    width: 150px;
    height: 40px;
    background-color: #1C2041;
    border-radius: 10px;
    margin-top: 10px;
}

.BetAmountLogo{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 8px;
}
.BetAmountValue{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 25pt;

}
.BetAmountToken{
    float: left;
    padding-top: 15px;
    font-size: 16pt;
}

.inforIcon_Wrap{
    display: inline-block;
}
.info_wrap{
    position: relative;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border:2px solid #00B8E9; 
    height: 40px;
    width: 40px;
}
.info_wrap:hover{
        border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border:2px solid #5ec3df; 
    box-shadow: 0 0 11px #6be0ff; 
}
.info_value{
    position: absolute;
    font-size: 7pt;
    top: 8px;
    margin-left: 3px;
    font-weight: bold; 

}
.info_label{
    position: absolute;
    font-size: 7pt;
    top: 20px;
    margin-left: 7px;
    font-weight: bold; 

}


  
  