@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/Myriad-Pro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

.menuPlay{
    font-family: 'MyriadPro'; 
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.WrapIconBet{
    display: inline-block;
    width: 500px;
    padding-left: 100px;
}
.iconBet{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
