@font-face {
    font-family: 'MyriadPro';
    src: url("./fonts/Myriad-Pro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica';
    src: url("./fonts/helvetica.ttf");
    font-weight: normal;
    font-style: normal;
  }
.HowToPlayWrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
}
.HowToPlayStyle{
    font-family: 'Helvetica'; 
    color: white;
    background-color: #424D55;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
}

.HowToPlayCloseButtonWrap{
    height: 40px;
    width: 40px;
    cursor: pointer;
    float: right;
}
.HowToPlayCloseButtonWrap:hover{
    opacity: 1;
}
.CloseButtonHowToPlay {
    opacity: 0.3;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 15px;

  }
  .CloseButtonHowToPlay:hover {
    opacity: 1;
  }
  .CloseButtonHowToPlay:before, .CloseButtonHowToPlay:after {
    position: absolute;
    content: ' ';
    height: 25px;
    width: 4px;
    background-color: white;
  }
  .CloseButtonHowToPlay:before {
    transform: rotate(45deg);
  }
  .CloseButtonHowToPlay:after {
    transform: rotate(-45deg);
  }

.HeaderHowToPlay{
    color: #E6E6E6 ;
    display: block;
    font-size: 35pt;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.DetailHowToPlay{
    color: #CCCCCC ;
    display: block;
    padding-left: 50px;

}
.DetailHowToPlay p{
    font-size: 15pt;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.DetailHowToPlay a{
    color: #3366FF;
}
.OneLineCss{
    line-height: 1.8;
}