.navbar{
    width: 100%;
    height: 80px;
    /* line-height: 70px; */
    background: #171933;
    border-bottom: 1px solid #3c3c3d;
    display: block;
    color: white;
}

.logo{
    width: 189px;
    height: 50px;
    margin-left: 100px;
    margin-top: 15px;
    float: left;
}

.icon_wrap{
    /* margin-left: 100px; */
    margin-right: 30px;
    float: right;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.Menu{
    font-size: 18pt;
    float: right;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.Menu :hover{
    color: #4272E8;
}

.Login_wrap{
    float: right;
    padding-top: 26px;
    padding-left: 10px;
    padding-right: 30px;
}
.Login_wrap :hover{
    color: red;
}

.ButtonLogin{
    background-image: linear-gradient(to right, #4272E8 , #00B8E9);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0px;
    text-align: center;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    letter-spacing: 3px;
}

.Logout_wrap{
    float: right;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 30px;

}

.user_icon{
    width: 25px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.exit_icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}


.NameOfUserLogoin{
    font-size: 19px;
    color: white;

}
.Logout_wrap a:hover{
    color: #4272E8;
}
.Logout_wrap button:hover{
    color: red;
}

.ButtonLogout{
    width: 90%;
    background-image: linear-gradient(to right, #4272E8 , #00B8E9);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    letter-spacing: 3px;
    margin-top: 28px;
    float: right;
}

.PopUp_Wrap{
    position: absolute;
    margin: auto;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    z-index: 1;
}

