.navbar{
    width: 100%;
    height: 80px;
    line-height: 70px;
    background: #171933;
    border-bottom: 1px solid #3c3c3d;
    display: block;
}

.logo_wrap{
    display: inline-block;
    /* margin-top: 18px; */
    margin-left: 100px;
    padding-top: 18px;
}
.logo{
    width: 189px;
    height: 50px;
}

.icon_wrap{
    display: inline-block;
    margin-top: 13px;

    margin-left: 500px;
}
.icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.Menu_Wrap{
    display: inline-block;
    color: white;
    /* margin-top: 13px; */
    /* margin-left: 300px; */
}

.Menu_Wrap a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.Menu_Wrap a:hover{
    /* background: green; */
    /* border-bottom: 3px solid red; */
    color: red;
}

.InfoOwner_Wrap{
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 5px;

}

.NameOfOwner{
    color: white;
    display: block;
    font-size: 18px;
    display: block;
    margin: auto;
}
.Logout_button{
    background-image: linear-gradient(to right, #4272E8 , #00B8E9);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: auto;
}

