.myApp {
  text-align: center;
  position: relative;
  max-width: 300px;
  
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #1c2041;
  /* cursor: pointer; */
  padding: 14px 25px;
  transition: 0.3s;
  font-size: 18px;
  color: #b3b3b3;
  font-weight: bold;
  width: 33.33%;
  white-space: nowrap;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ffffff;
  text-shadow: 0 0 3px #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #ffffff;
  text-shadow: 0 0 3px #ffffff;
}

/* Style the tab content */
.tabcontent {
  padding: 0px 12px;
  border-top: 1px solid #262b59;
  border-bottom: 1px solid #262b59;
  color: #b3b3b3;
  background-color: #1c2041;

  max-height: 460px;
  /*if you set overflow in "scroll", there will be 2 sroll: at the right side and at the bottom*/
  overflow: auto;
  
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td {
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #171933;
}

tr:hover {
  background-color: #262b59;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1c2041;
  color: #03c4ff;
  padding: 15px;
}

/* nowrap mean not making new line in the table cell*/
table tr {
  white-space: nowrap;
}

.footerContent {
  text-align: left;
  background-color: #21264e;
  color: #b3b3b3;

  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
}

.column {
  width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */

  display: inline-block;
}

.footWrapper {
  background-color: #1c2041;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* this class for the sticky header*/
.st_header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  border-bottom: 1px solid #262b59;
}

/* add following rule for overwritten the default layout of browser
src:https://stackoverflow.com/questions/28109062/cancel-vertical-align-property
*/
thead, tbody, tfoot { vertical-align: middle } 
td, th, tr { vertical-align: inherit } 
